@using ReportManager.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<ReportManager.Models.ReportEntry>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@using (Html.BeginForm("Index", "ReportEntries", FormMethod.Get))
{
    <p>
        Find: @Html.TextBox("searchString", (string)ViewBag.searchString)
        <input type="submit" value="Search"/> |
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.ReportTitle), "Index", new { sortOrder = ViewBag.TitleSort, searchString = ViewBag.searchString })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.ReportDescription), "Index", new { sortOrder = ViewBag.DescriptionSort, searchString = ViewBag.searchString })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Category), "Index", new { sortOrder = ViewBag.CategorySort, searchString = ViewBag.searchString })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Project), "Index", new { sortOrder = ViewBag.ProjectSort, searchString = ViewBag.searchString })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Person), "Index", new { sortOrder = ViewBag.PersonSort, searchString = ViewBag.searchString })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.PersonName)
            </td>
            @if(User.IsInRole(DbSeeder.AdminRoleName))
            {
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReportEntryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReportEntryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReportEntryId">Delete</a>
            </td>
            }
            else
            {
            <td>
                <a asp-action="Details" asp-route-id="@item.ReportEntryId">Details</a>
            </td>
            }
            </tr>
}
    </tbody>
</table>
